// Colors
$clr1: #333;
$clr2: rgb(11, 80, 122);
$clr3: rgb(37, 126, 228);
$clr4: rgb(221, 218, 218);
$clr5: whitesmoke;
$clr6: rgb(74, 155, 155);
$clr7: rgb(155, 255, 255);
$clr8: rgb(128, 11, 11);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
